.checkout-index-index .billing-address-details{
display:none;
}
.modal-popup.popup-authentication .block-authentication .block.block-new-customer {
    display:none;   
}
.modal-popup.popup-authentication .block[class]+.block {
    border:none;
    padding: 10px 0 0 0px;
}
.modal-popup.popup-authentication .block[class]+.block:before {
   display:none;
}
.modal-popup.popup-authentication .block-authentication {
    border-top: none;
}
aside.modal-popup.popup-authentication .modal-inner-wrap {
    min-width: 500px;
    width: 500px;
}
.opc-payment.d-none{
    display: none;
}
.action.multicheckout {
    display: none;
}
